<!DOCTYPE html>
<html>

<head>
  <script type="text/javascript" src="../bower_components/lodash/dist/lodash.js"></script>
  <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="../src/angular-public.js"></script>
  <script type="text/javascript" src="../src/q.js"></script>
  <script type="text/javascript" src="../src/apis.js"></script>
  <script type="text/javascript" src="../src/apis.js"></script>
  <script type="text/javascript" src="../src/loader.js"></script>
  <script type="text/javascript" src="../src/injector.js"></script>
  <script type="text/javascript" src="../src/angular.js"></script>
  <script type="text/javascript" src="../src/filter.js"></script>
  <script type="text/javascript" src="../src/filter-filter.js"></script>
  <script type="text/javascript" src="../src/parse.js"></script>
  <script type="text/javascript" src="../src/scope.js"></script>
  <script type="text/javascript" src="../src/http.js"></script>
  <script type="text/javascript" src="../src/http-backend.js"></script>
  <script type="text/javascript" src="../src/compile.js"></script>
  <script type="text/javascript" src="../src/controller.js"></script>
  <script type="text/javascript" src="../src/interpolate.js"></script>
  <script type="text/javascript" src="../src/directives/ng-controller.js"></script>
  <script type="text/javascript" src="../src/directives/ng-transclude.js"></script>
  <script type="text/javascript" src="../src/directives/ng-click.js"></script>
  <script type="text/javascript" src="../src/bootstrap.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>

<body ng-app="sampleApp">
  <div ng-controller="SampleAppCtrl as sampleCtrl">
    {{sampleCtrl.counter}}
    <button ng-click="sampleCtrl.increment()">increment</button>
    <button ng-click="sampleCtrl.decrement()">decrement</button>
  </div>
</body>

</html>
